USE [MRS_test]
GO
/****** Object:  StoredProcedure [dbo].[spTW_SPM_GroupCustomer_Count_ADCmd]    Script Date: 4/23/2026 11:30:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--========================================================
-- CDBA_SP_Framework : 2021.1028.1800
--========================================================

-- ==========================================================================================
/*
   Author:				Daniel Lin
   Create date:			2026-03-23
   Description:			This sp is for monthly tracking Customer Count Number of materials in TW region
   Last Update date:	2026-03-23
   Data Source List:	[MRS].[dbo].[tblInventoryHistory] /
						[MRS].[dbo].[tblPOBacklogRolling] /
						[MRS].[dbo].[vwBacklogRolling_nonMFI] /
						[MRS_Operation].[dbo].[tblBATool_BookBill]
*/
-- ==========================================================================================

ALTER PROCEDURE [dbo].[spTW_SPM_GroupCustomer_Count_ADCmd]
	----------------------------------------------------------
	-- Input Parameters

	----------------------------------------------------------
	
AS
BEGIN

	SET NOCOUNT ON;

    BEGIN TRY

		----------------------------------------------------------
		-- ~~~~~~ Line Number ~~~~~~
		LINENO 31
		----------------------------------------------------------

		DECLARE @SPName varchar(100) = OBJECT_NAME(@@PROCID)
		DECLARE @Database varchar(20) = DB_NAME()
		DECLARE @User varchar(50) = SYSTEM_USER
		DECLARE @SP_ID bigint
		EXEC MRS_Admin..spServer_SPRunningLog @SPName,@Database,@User,'Start','',@ID=@SP_ID OUTPUT

		----------------------------------------------------------
		-- Comment block for drop temp tables, for debugging
		/*

		*/
		----------------------------------------------------------


		----------------------------------------------------------
		-- ~~~~~~ Declaration of variables ~~~~~~
		DECLARE @start_date AS  DATE = Dateadd(MONTH, -12, Getdate())
		DECLARE @start_month    VARCHAR(10) = mrs_auto.dbo.FISCALMONTH(@start_date, 0)
		DECLARE @end_month      VARCHAR(10) = mrs_auto.dbo.FISCALMONTH(Getdate()-7, 0)
		DECLARE @last12_month   VARCHAR(10) = mrs_auto.dbo.FISCALMONTH(@start_date,-12)
		DECLARE @endDate AS DATE = mrs_auto.dbo.fiscalmonth_enddate(getdate(),-1)


		-- ~~~~~~ Declaration of variables ~~~~~~
		----------------------------------------------------------


		----------------------------------------------------------
		-- ~~~~~~ Code ~~~~~~

		;WITH inventory_data
			 AS (SELECT DISTINCT [SPM Region]  AS [Region]
								 ,[Material]
								 ,[Plant Code] AS [Plant]
				 FROM   [MRS].[dbo].[tblInventoryHistory] WITH (NOLOCK)
				 WHERE  [Stock Ind] NOT LIKE '%K%'
						AND [Plant Code] NOT IN ( 'IT36', 'IT38', 'TW34' )
						AND Dateadd(DAY, 1, [Snapshotdate]) = @endDate
						AND [SPM Region] = 'Taiwan'
						AND [MFI] = 'N'),
			 open_po
			 AS (SELECT DISTINCT [SPM Region]  AS [Region]
								 ,[Material]
								 ,[Plant Code] AS [Plant]
				 FROM   [MRS].[dbo].[tblPOBacklogRolling] WITH (NOLOCK)
				 WHERE  [PO Type] NOT IN ( 'IB', 'UB', 'NB2' )
						AND [Returns Item] <> 'Y'
						AND [SnapShotDate] = @endDate
						AND [SPM Region] = 'Taiwan'
						AND [MFI] = 'N'),
			 open_so
			 AS (SELECT DISTINCT [SPM Region]  AS [Region]
								 ,[Material]
								 ,[Plant Code] AS [Plant]
				 FROM   [MRS].[dbo].[vwBacklogRolling_nonMFI] WITH (NOLOCK)
				 WHERE  [SPM Region] = 'Taiwan'
						AND [SnapshotDate] = @endDate
						AND [MFI] = 'N'),
			 bb_raw
			 AS (SELECT [Region]
						,[SPM Region]
						,[Material]
						,[Plant Code]
						,[Fiscal Month]
						,[Group Customer]
						,[Billing]
				 FROM   [MRS_Operation].[dbo].[tblBATool_BookBill] WITH (NOLOCK)
				 WHERE  [SPM Region] = 'Taiwan'
						AND [Fiscal Month] >= @last12_month),
			 open_pos
			 AS (SELECT DISTINCT [SPM Region]  AS [Region]
								 ,[Material]
								 ,[Plant Code] AS [Plant]
				 FROM   bb_raw),
			 bb_ctm_count
			 AS (SELECT [Region]
						,[SPM Region]
						,[Material]
						,[Plant Code]                     AS [Plant]
						,Count(DISTINCT [Group Customer]) AS [CTM Count#]
						,Sum([Billing])                   AS [Billing]
				 FROM   bb_raw
				 WHERE  [Fiscal Month] >= @start_month
						AND [Fiscal Month] <= @end_month
						AND [Plant Code] NOT IN ( 'IT36', 'IT38', 'TW34' )
						AND [Region] = 'Taiwan'
				 GROUP  BY [Region]
						   ,[SPM Region]
						   ,[Material]
						   ,[Plant Code]
				 HAVING Sum([Billing]) > 0)

		SELECT COALESCE(a.[Region], b.[Region], c.[Region], d.[Region])          AS [Region]
			   ,COALESCE(a.[Material], b.[Material], c.[Material], d.[Material]) AS [Material]
			   ,COALESCE(a.[Plant], b.[Plant], c.[Plant], d.[Plant])             AS [Plant]
			   ,ISNULL(e.[CTM Count#], 0)                                        AS [CTM Count#]
		FROM   inventory_data a
			   FULL OUTER JOIN open_po b
							ON a.[Region] = b.[Region]
							   AND a.[Material] = b.[Material]
							   AND a.[Plant] = b.[Plant]
			   FULL OUTER JOIN open_pos c
							ON COALESCE(a.[Region], b.[Region]) = c.[Region]
							   AND COALESCE(a.[Material], b.[Material]) = c.[Material]
							   AND COALESCE(a.[Plant], b.[Plant]) = c.[Plant]
			   FULL OUTER JOIN open_so d
							ON COALESCE(a.[Region], b.[Region], c.[Region]) = d.[Region]
							   AND COALESCE(a.[Material], b.[Material], c.[Material]) = d.[Material]
							   AND COALESCE(a.[Plant], b.[Plant], c.[Plant]) = d.[Plant]
			   LEFT JOIN bb_ctm_count e
					  ON COALESCE(a.[Region], b.[Region], c.[Region], d.[Region]) = e.[Region]
						 AND COALESCE(a.[Material], b.[Material], c.[Material], d.[Material]) = e.[Material]
						 AND COALESCE(a.[Plant], b.[Plant], c.[Plant], d.[Plant]) = e.[Plant]
		WHERE  COALESCE(a.[Material], b.[Material], c.[Material], d.[Material]) <> 'MCCPIC16F616T-H/S>'
			   AND COALESCE(a.[Plant], b.[Plant], c.[Plant], d.[Plant]) NOT IN ( 'IT36', 'IT38', 'TW34' ); 


		-- ~~~~~~ Code ~~~~~~
		----------------------------------------------------------

		EXEC MRS_Admin..spServer_SPRunningLog @SPName,@Database,@User,'Finish','',@SP_ID

	END TRY
	BEGIN CATCH

		DECLARE @Error varchar(max) = 'Line ' + CONVERT(varchar,ERROR_LINE()) + ': ' + ERROR_MESSAGE()
		EXEC MRS_Admin..spServer_SPRunningLog @SPName,@Database,@User,'Finish',@Error,@SP_ID;

		THROW

	END CATCH

END
